# General
.vscode
Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
a.out

NOTES.md

# local files
Test.cpp
View.cpp
View.h
UserManager.cpp
UserManager.h

# Folders to ignore
Docs/
